[submodule "src/temoto"]
	path = src/temoto
	url = https://github.com/temoto-telerobotics/temoto
[submodule "src/robot_setup/xarm_ros"]
	path = src/robot_setup/xarm_ros
	url = https://github.com/xArm-Developer/xarm_ros
[submodule "src/robot_setup/temoto_robot_manager"]
	path = src/robot_setup/temoto_robot_manager
	url = https://github.com/temoto-telerobotics/temoto_robot_manager
