<launch>

  <arg name="debug" default="false" />
  <arg name="NO_GUI_CTRL" default="false"/>
  <arg name="load_move_group" default="true" />
  <arg name="fake_execution" default="false" />
  <arg name="show_rviz" default="true" />
  <arg name="db" default="false" />

   <!-- load the joint trajectory controller specified in yaml -->
  <rosparam file="$(find xarm_controller)/config/xarm7_traj_controller.yaml" command="load"/>
  <node
    name="traj_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="xarm"
    args="xarm7_traj_controller"/>

  <remap from="/follow_joint_trajectory" to="xarm/xarm7_traj_controller/follow_joint_trajectory"/>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include if="$(arg load_move_group)" file="$(find xarm7_wgrip_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="$(arg fake_execution)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include if="$(arg show_rviz)" file="$(find xarm7_wgrip_moveit)/launch/moveit_rviz.launch">
    <arg name="no_gui_ctrl" value="$(arg NO_GUI_CTRL)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find xarm7_wgrip_moveit)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>  

</launch>


