<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="cmd_vel" default="cmd_vel" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="deadzone" value="0.1" />
    <param name="autorepeat_rate" value="20" />
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
    <param name="axis_linear" value="1" />
    <param name="scale_linear" value="0.4" />
    <param name="scale_linear_turbo" value="2.0" />
    <param name="axis_angular" value="0" />
    <param name="scale_angular" value="1.4" />
    <param name="enable_button" value="4" />
    <param name="enable_turbo_button" value="5" />

    <remap from="cmd_vel" to="$(arg cmd_vel)" />
  </node>

</launch>
