<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <rosparam command="load" file="$(find temoto_ws)/config/teleop_ps4.yaml" />
  <param name="joy_node/dev" value="$(arg joy_dev)" />
  <node pkg="joy" type="joy_node" name="joy_node" />
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>

</launch>
