<launch>
  <arg name="umrf_file" default="$(find ta_xarm7_manipulate_object)/test/ta_xarm7_manipulate_object.umrfg.json"/>
  <arg name="wake_word" default="ta_xarm7_manipulate_object"/>
  <arg name="action_path" default="$(find ta_xarm7_manipulate_object)"/>

  <node name="temoto_action_engine" pkg="temoto_action_engine" type="action_engine_node" output="screen"
        args="--sa $(arg action_path) 
              --d $(arg umrf_file)
              --mw $(arg wake_word)"/>
</launch>